@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
body {
  display: flex;
}
.container-xl {
  max-width: 1050px;
}
.trans {
  background-color: transparent !important;
  border: none !important;
}
.trans-1 {
  background: #00000038;
  border-right: 2px solid #ff714a;
  transition: 0.3s all ease-in-out;
  transform: rotate(360deg);
}
header {
  background-color: #222222;
  width: 20%;
  .profile {
    display: block;
    .round {
      height: 130px;
      width: 130px;
      border-radius: 65px;
      margin: 6.6666px auto;
      .round-img {
        img {
          border-radius: 50%;
        }
      }
    }
    h1 {
      font-weight: 700;
      font-size: 30px;
      font-family: "EB Garamond", serif;
      color: white;
    }
  }
  nav {
    ul {
      #home {
        background: #00000038;
        border-right: 2px solid #ff714a;
      }
      li {
        padding: 10px;
        transition: 0.3s ease;

        &:hover {
          background-color: #00000038;
          border-right: 2px solid #ff714a;
        }
        a {
          font-size: 18px;
          font-weight: 500;
          color: white;
        }
      }
    }
  }
  .social-icon {
    i {
      width: 50px;
      font-size: 25px;
      padding: 12px;
      color: white;
      &:hover {
        background-color: #ff714a;
        transition: 0.3s all ease-in-out;
        color: white;
        transform: scale(1.1);
        transition: 0.5s ease;
      }
    }
  }
}
.banner {
  background-image: url("/images/back.jpg");
  width: 100%;
  background-size: cover;
  .banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      h1 {
        font-size: 45px;
        font-weight: 700;
      }
      p {
        font-size: 25px;
        font-weight: 700;
        height: 50px;
      }
    }
  }
}
.about {
  display: none;
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  .head {
    h1 {
      color: white;
      font-size: 40px;
      font-weight: 700;
      border-bottom: 2px solid rgba(255, 255, 255, 0.55);
    }
  }
  .about-l {
    color: white;
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .about-r {
    color: white;
    #mail {
      color: #ff714a;
    }
    p {
      border-bottom: 1px solid #ff714a;
      font-size: 18px;
      font-weight: 700;
      padding: 4px 0;

      span {
      }
    }
  }
  .web-d {
    color: white;
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.resume {
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  .head {
    h1 {
      color: white;
      font-size: 40px;
      font-weight: 700;
      border-bottom: 2px solid rgba(255, 255, 255, 0.55);
    }
  }
  .about-l {
    color: white;
    h2 {
      width: 15%;
      border-bottom: 2px solid #ff714a;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .info {
    width: 40%;
    justify-content: space-around !important;
    margin-left: 100px;
    .divider::after {
      content: "";
      position: absolute;
      display: block;
      margin-top: -3px;
      width: 11px;
      height: 11px;
      margin-left: 2px;
      border-radius: 5px;
      border: 2px solid #ff714a;
      background-color: #222;
      z-index: 1;
    }
    .divider-line {
      position: absolute;
      top: 24%;
      left: 27%;
      bottom: 0;
      width: 1px;
      background-color: #666;
      z-index: 22;
      height: 50%;
      z-index: 0;
    }
  }
}
