@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
body {
  display: flex;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #ff714a;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 991;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ff714a;
  opacity: 0.8;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 992;
}

.container-xl {
  max-width: 1050px;
}

.trans {
  background-color: transparent !important;
  border: none !important;
}

.trans-1 {
  background: rgba(0, 0, 0, 0.2196078431);
  border-right: 2px solid #ff714a;
}

header {
  background-color: #222222;
  width: 25%;
}
header .header {
  display: flex;
  width: 20%;
  position: fixed;
}
header .header .profile {
  display: block;
}
header .header .profile .round {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  margin: 6.6666px auto;
}
header .header .profile .round .round-img img {
  border-radius: 50%;
  border: 2px solid #ff714a;
}
header .header .profile h1 {
  font-weight: 700;
  font-size: 30px;
  font-family: "EB Garamond", serif;
  color: white;
}
header .header nav ul #home {
  background: rgba(0, 0, 0, 0.2196078431);
  border-right: 2px solid #ff714a;
}
header .header nav ul #home:hover {
  background-color: rgba(0, 0, 0, 0.2196078431) !important;
  border-right: 2px solid #ff714a !important;
}
header .header nav ul li {
  padding: 10px;
  transition: 0.3s ease;
}
header .header nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2196078431);
  border-right: 2px solid #ff714a;
}
header .header nav ul li a {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
header .header .social-icon i {
  width: 50px;
  font-size: 25px;
  padding: 12px;
  color: white;
}
header .header .social-icon i:hover {
  background-color: #ff714a;
  transition: 0.3s all ease-in-out;
  color: white;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.banner {
  background-image: url("/images/back.jpg");
  width: 100%;
  background-size: cover;
  animation: ani 0.6s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 0px;
}
.banner .banner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner .banner1 .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner .banner1 .name h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.banner .banner1 .name p {
  font-size: 25px;
  font-weight: 700;
  height: 50px;
}

.about {
  display: none;
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  height: 41em;
}
.about .head h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
}
.about .about-l {
  color: white;
}
.about .about-l p {
  font-size: 16px;
  font-weight: 500;
}
.about .about-r {
  color: white;
}
.about .about-r #mail {
  color: #ff714a;
}
.about .about-r p {
  border-bottom: 1px solid #ff714a;
  font-size: 18px;
  font-weight: 700;
  padding: 4px 0;
}
.about .web-d {
  color: white;
}
.about .web-d p {
  font-size: 16px;
  font-weight: 500;
}

.resume {
  display: none;
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  height: 100%;
}
.resume .head h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
}
.resume .about-l {
  color: white;
}
.resume .about-l h2 {
  width: 128px;
  border-bottom: 2px solid #ff714a;
}
.resume .about-l p {
  font-size: 16px;
  font-weight: 500;
}
.resume .uni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 145px;
}
.resume .line {
  height: 146px;
  width: 2px;
  background: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume .round {
  height: 15px;
  width: 15px;
  border: 3px solid #ff714a;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.resume .co {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  color: white;
}
.resume .hire-me {
  text-align: center;
}
.resume .hire-me button {
  border: 1px solid #ff714a;
  border-radius: 25px;
  color: #ff714a;
  background-color: black;
  padding: 10px;
  text-align: center;
  width: 203px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.resume .hire-me button i {
  width: 30px;
}
.resume .hire-me button:hover {
  background-color: #ff714a;
  color: white;
}

.portfolio {
  display: none;
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  height: 100%;
}
.portfolio .head h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
}
.portfolio .port-l {
  color: white;
}
.portfolio .port-l p {
  font-size: 16px;
  font-weight: 500;
}
.portfolio .port-l h2 {
  border-bottom: 2px solid #ff714a;
  width: 173px;
  line-height: 48px;
}
.portfolio .p-box {
  height: 200px;
  position: relative;
}
.portfolio .p-box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: 0.3s all ease-in-out;
}
.portfolio .p-box p {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 25px;
  top: 55px;
  left: 0;
  font-weight: 600;
  color: #222222;
  transition: 0.6s all ease-in-out;
}
.portfolio .p-box:hover p {
  display: block;
}
.portfolio .p-box:hover img {
  filter: blur(10px);
}
.portfolio .p-box2 {
  height: 200px;
  position: relative;
}
.portfolio .p-box2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: 0.3s all ease-in-out;
}
.portfolio .p-box2 p {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 25px;
  top: 55px;
  left: 0;
  font-weight: 600;
  color: white;
  transition: 0.6s all ease-in-out;
}
.portfolio .p-box2:hover p {
  display: block;
}
.portfolio .p-box2:hover img {
  filter: blur(10px);
}

.contact {
  display: none;
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  height: 100%;
}
.contact .head h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
}
.contact .contact-l {
  color: white;
}
.contact .contact-l p {
  font-size: 16px;
  font-weight: 500;
}
.contact .contact-l h2 {
  border-bottom: 2px solid #ff714a;
  width: 18%;
  line-height: 48px;
}
.contact .contact-info {
  width: 100%;
  text-align: center;
  display: flex;
}
.contact .contact-info h2 {
  color: white;
  font-size: 25px;
}
.contact .contact-info p {
  font-size: 16px;
  width: 70%;
  color: white;
  font-weight: 600;
}
.contact .contact-info .cn-no .call i {
  color: #ff714a;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-info .cn-no .call p {
  width: 100%;
}
.contact .contact-info .cn-no .Email i {
  color: #ff714a;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-info .cn-no .Email p {
  width: 100%;
}
.contact .contact-info .cn-no .Whatsapp i {
  color: #ff714a;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-info .cn-no .Whatsapp p {
  width: 100%;
}
.contact .contact-info .follow {
  width: 100%;
}
.contact .contact-info .follow p {
  color: white;
  font-size: 25px;
  width: 100%;
}
.contact .contact-info .follow .social-c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 25px;
}
.contact .contact-info .follow .social-c a i {
  color: white;
  width: 46px;
  height: 46px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-info .follow .social-c a:hover {
  background-color: #ff714a;
}
.contact .namel {
  width: 100%;
}
.contact .namel input {
  width: 50%;
  background-color: #2a2a2a;
  border: none;
  color: white;
  padding: 8px;
}
.contact .namel input::-moz-placeholder {
  color: rgb(140, 138, 138);
  font-weight: 600;
}
.contact .namel input::placeholder {
  color: rgb(140, 138, 138);
  font-weight: 600;
}
.contact .msg {
  width: 100%;
}
.contact .msg textarea {
  width: 100%;
  background-color: #2a2a2a;
  border: none;
  color: white;
  padding: 8px;
}
.contact .msg textarea::-moz-placeholder {
  color: rgb(140, 138, 138);
  font-weight: 600;
}
.contact .msg textarea::placeholder {
  color: rgb(140, 138, 138);
  font-weight: 600;
}
.contact .msg-btn1 {
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact .msg-btn1 .msg-btn {
  border: 1px solid rgb(255, 113, 74);
  border-radius: 25px;
  color: rgb(255, 113, 74);
  background-color: black;
  padding: 8px;
  text-align: center;
  width: 203px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.contact .msg-btn1 .msg-btn:hover {
  background-color: #ff714a;
  color: white;
}

#nav-icon {
  font-size: 35px;
  color: white;
  position: absolute;
  left: 30px;
  top: 15px;
  cursor: pointer;
}

#nav-icon {
  display: none;
}

@media (max-width: 1024px) {
  header {
    display: none;
    width: 65%;
    z-index: 999 !important;
    height: 100vh !important;
    position: fixed;
  }
  header .header {
    position: absolute;
    width: 100%;
  }
  .about {
    height: 100% !important;
  }
  .about {
    padding-top: 57px;
    height: 100vh !important;
  }
  .resume {
    padding-top: 57px;
    height: 100%;
  }
  .portfolio {
    padding-top: 57px;
    height: 100% !important;
  }
  .contact {
    padding-top: 57px;
    height: 100% !important;
  }
  .contact .contact-l h2 {
    width: 28%;
  }
  .cursor {
    display: none;
  }
  .cursor2 {
    display: none;
  }
  #nav-icon {
    display: block !important;
    position: fixed;
    z-index: 9999;
    left: 21px;
  }
  .banner {
    height: 100vh !important;
  }
}/*# sourceMappingURL=main.css.map */