@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap");
body {
  display: flex;
  cursor: url("/images/circle.png"), auto;
}

.container-xl {
  max-width: 1050px;
}

.trans {
  background-color: transparent !important;
  border: none !important;
}

.trans-1 {
  background: rgba(0, 0, 0, 0.2196078431);
  border-right: 2px solid #ff714a;
  transition: 0.3s all ease-in-out;
  transform: rotate(360deg);
}

header {
  background-color: #222222;
  width: 20%;
}
header .header {
  display: flex;
}
header .header .profile {
  display: block;
}
header .header .profile .round {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  margin: 6.6666px auto;
}
header .header .profile .round .round-img img {
  border-radius: 50%;
}
header .header .profile h1 {
  font-weight: 700;
  font-size: 30px;
  font-family: "EB Garamond", serif;
  color: white;
}
header .header nav ul #home {
  background: rgba(0, 0, 0, 0.2196078431);
  border-right: 2px solid #ff714a;
}
header .header nav ul li {
  padding: 10px;
  transition: 0.3s ease;
}
header .header nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2196078431);
  border-right: 2px solid #ff714a;
}
header .header nav ul li a {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
header .header .social-icon i {
  width: 50px;
  font-size: 25px;
  padding: 12px;
  color: white;
}
header .header .social-icon i:hover {
  background-color: #ff714a;
  transition: 0.3s all ease-in-out;
  color: white;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.banner {
  background-image: url("/images/back.jpg");
  width: 100%;
  background-size: cover;
  animation: ani 0.3s;
}
.banner .banner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner .banner1 .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner .banner1 .name h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.banner .banner1 .name p {
  font-size: 25px;
  font-weight: 700;
  height: 50px;
}

@keyframes ani {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.about {
  display: none;
  padding: 25px 0px;
  background-color: black;
  width: 100%;
  animation: ani 0.3s;
}
.about .head h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
}
.about .about-l {
  color: white;
}
.about .about-l p {
  font-size: 16px;
  font-weight: 500;
}
.about .about-r {
  color: white;
}
.about .about-r #mail {
  color: #ff714a;
}
.about .about-r p {
  border-bottom: 1px solid #ff714a;
  font-size: 18px;
  font-weight: 700;
  padding: 4px 0;
}
.about .web-d {
  color: white;
}
.about .web-d p {
  font-size: 16px;
  font-weight: 500;
}

.resume {
  padding: 25px 0px;
  background-color: black;
  width: 100%;
}
.resume .head h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid rgba(255, 255, 255, 0.55);
}
.resume .about-l {
  color: white;
}
.resume .about-l h2 {
  width: 15%;
  border-bottom: 2px solid #ff714a;
}
.resume .about-l p {
  font-size: 16px;
  font-weight: 500;
}
.resume .info {
  width: 40%;
  justify-content: space-around !important;
  margin-left: 100px;
}
.resume .info .divider::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: -3px;
  width: 11px;
  height: 11px;
  margin-left: 2px;
  border-radius: 5px;
  border: 2px solid #ff714a;
  background-color: #222;
  z-index: 1;
}
.resume .info .divider-line {
  position: absolute;
  top: 24%;
  left: 27%;
  bottom: 0;
  width: 1px;
  background-color: #666;
  z-index: 22;
  height: 50%;
  z-index: 0;
}

#nav-icon {
  font-size: 35px;
  color: white;
  position: absolute;
  left: 30px;
  top: 15px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header {
    display: none;
    width: 63%;
  }
  .banner {
    height: 100vh;
  }
  .about {
    height: 900px;
  }
}/*# sourceMappingURL=main.css.map */